<!DOCTYPE html>
<html lang="pt es en">
<%- include('./partials/template/header.ejs')%>

  <body>
    <br>
    <%- include('./partials/template/footer.ejs') %>
      <br>
      <%- include('./partials/template/nav.ejs')%>
        <br><br><br>
        <br><br><br>
        <h1 style="text-align: center;">
          <%= pageTitle%>
        </h1>
        <div style="text-align: center;padding-left:20%">
          <%- include('./partials/status/table.ejs')%>
        </div>
  </body>

</html>
