<!DOCTYPE html>
<html lang="pt es en">
<%- include('./partials/template/header.ejs')%>

  <body>
    <%- include('./partials/template/nav.ejs')%>
      <h1 style="text-align: center;">
        <%= pageTitle%>
      </h1>
      <%- include('./partials/status/table.ejs')%>
        <%- include('./partials/template/footer.ejs')%>
  </body>

</html>
